.fieldCard {
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: var(--border-radius-md);
  margin-bottom: 1rem;
  background-color: var(--bg-secondary);
  position: relative;
  min-height: 80px;
}

.fieldContent {
  flex: 1;
  margin-right: 2.5rem;
}

.fieldHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.fieldHeader h4 {
  margin: 0;
  font-size: 1rem;
}

.fieldKey {
  color: var(--text-secondary);
  font-size: 0.8rem;
}

.fieldDescription {
  margin: 0.25rem 0;
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.fieldValue {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


.progressContainer {
  width: 100%;
  background-color: var(--progress-bg, var(--bg-primary));
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  position: relative;
  height: 24px;
}

.progressBar {
  height: 100%;
  transition: width 0.3s ease;
  position: relative;
}

.progressText {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-primary);
  font-weight: bold;
  /* mix-blend-mode: difference; */
}

[data-theme="dark"]{
  .progressText{
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
  }
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.categorySelect {
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-color);
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.fieldActions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}