.itemCard {
    display: flex;
    gap: 1rem;
    background-color: var(--bg-secondary);
    padding: 1rem;
    border-radius: var(--border-radius-md);
  }
  
  .itemImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--border-radius-md);
  }
  
  .itemInfo {
    flex: 1;
  }
  
  .itemInfo h3 {
    margin-top: 0;
  }

  .itemText {
    font-weight: bold;
  }

  .itemAccent {
    font-weight: bold;
    color: var(--accent-color);
  }
  
  .itemActions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }