.itemCard {
    display: flex;
    gap: 1rem;
    background-color: var(--bg-secondary);
    padding: 1rem;
    border-radius: var(--border-radius-md);
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .itemImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--border-radius-md);
    flex-shrink: 0;
  }
  
  .itemInfo {
    flex: 1;
    min-width: 0; /* Важно для работы ellipsis */
  }
  
  .itemName {
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%; /* Ограничение ширины названия */
  }

  .descriptionContainer {
    max-height: 4.5em; /* Высота для примерно 3 строк текста */
    overflow-y: auto;
    margin: 0.5rem 0;
  }

  .itemDescription {
    margin: 0;
    line-height: 1.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .itemText {
    font-weight: bold;
  }

  .itemAccent {
    font-weight: bold;
    color: var(--accent-color);
  }
  
  .itemActions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-shrink: 0;
  }
